[submodule "leonardodimabe/l10n_cl_fe"]
	path = leonardodimabe/l10n_cl_fe
	url = git@github.com:leonardodimabe/l10n_cl_fe.git
	branch = master

[submodule "KonosCL/addons-konos"]
	path = KonosCL/addons-konos
	url = git@github.com:KonosCL/addons-konos.git
	branch = 12.0
